body {
	font-family: sans-serif;
	color:black;
	background-color:#F6F4F0;
}

/* DIVs */

#messagecontainer {
	display:block;
	height:30px;
}
#container {
	background-color: white;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
}
#navigation {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	width: 180px;
	text-align: center;
}
#main {
	position: relative;
	margin-left: 210px;
	padding-bottom: 10px;
}
#footer {
	clear: both;
	background-color: #E6E6E6;
	text-align: center;
}

/* Navigation */

.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.navbar a {
	color: black;
	display: block;
	background-color:#F6F4F0;
	border: 1px solid #E6E6E6;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
}
.navbar li {
	margin-bottom: 4px;
}
.navbar a:hover {
	background-color: white;
}

/* MISC */

table {
	margin-bottom: 10px;	
}
h1 {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}
#header h1 {
	margin-bottom: 5px;
	color: #58ACFA;
}
#main h1 {
	margin-top:2px;
	border-bottom: 1px dashed #E6E6E6;
}
hr {
	border: 0;
	border-bottom: 1px solid #E6E6E6;
}
.error, .message {
	margin-bottom: 5px;
	font-weight: bold;
}
.error {
	color:red;
}
.message {
	color:green;
}
.expl {
	font-size: 0.6em;
}
#password {
	font-family: monospace;
}

/* LISTS */

table.list {
	border-collapse: collapse;
}
.list th {
	background-color: #82C1FC;
}
.list tr.alt {
	background-color: #D7EAFC;
}
.list td, .list tr, .list th {
	border: 1px solid #58ACFA;
	padding: 3px 7px 2px 7px;
}
.list a {
	text-decoration: none;	
}

/* Produktbatch view */

table.produkt {
	border-collapse: collapse;
}
.raa {
	background-color:	#82C1FC;
}
.baa {
	background-color:  #D7EAFC;
}
.produkt td {
	padding: 3px 9px 2px 9px;
}
.topr {
	border-top: 1px dashed black;
}
.midr td {
	padding-bottom:15px;
}
	
/* Print */

@media print {
    #header, #navigation, #footer {
        display:none;
    }
    #container {
    	border: 0;
    }
    #main {
	    position: absolute;
		margin-left: 0;
		padding-bottom: 0;
		display:block;	
	}
}